<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Lets calculate a Parcel!</h1>
    <form action='/parcel_info'>
      <div class='form-group'>
        <label for='length'>Length</label>
        <input id='length' name='length' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='height'>Height</label>
        <input id='height' name='height' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='weight'>Your weight spot</label>
        <input id='weight' name='weight' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='width'>Your width spot</label>
        <input id='width' name='width' class='form-control' type='text'>
      </div>

      <button type='submit' class='btn btn-primary'>Go!</button>
    </form>
  </body>
</html>
